.header {
  display: grid;
  grid-template-rows: [nav-s] 74px [nav-e line-s] 26px [line-e];
  align-content: center;
  justify-items: center;
  width: 80vw;

  &__line {
    grid-row: line-s/line-e;
    border-top: 2px solid #13aa6d;
    margin-bottom: 24px;
    margin-top: 12px;
    width: 66vw;
  }
}
